<div class="out-message">
  <p>Hey!</p>
  <p>
    It seems that your vocabulary is unpleasant and that you don't deserve the throne..
  </p>


  <p>
    Here's for you:
  </p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/cMuNlAIJFog" frameborder="0" allowfullscreen class=politeness-video></iframe>
  <br>
  <p>
    Come back in a few days, when you know the song by heart! :-)
  </p>
 <br>
  <p>
    Faithfully,
  </p>

  <p>
    The royal moderators of the peaceful Kingdom of the Hill
  </p>
</div>
