<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Kingdom of the Hill</title>
  </head>
  <body>

    <h2><%= current_monarch.first_name%> is ruling over the hill!</h2>

  </body>
</html>
