The history of the Kingdom of the Hill:

<ol>

  <% @reigns.each do |reign| %>
  <li>
    <% monarch = User.find(reign.user_id) %>
    <% if monarch.gender == 'male' %>
    King
    <% elsif monarch.gender == 'female' %>
    Queen
    <% else %>
    Monarch
    <% end %>
    <%= "#{monarch.first_name}: from #{reign.created_at.to_formatted_s(:long_ordinal)}"%>
    <% unless reign.finished == nil%>
      <% length = Length.find(reign.id) %>
      <%="until #{reign.finished.to_formatted_s(:long_ordinal)} - #{humanize(length.secs)}" %>
    <% end %>
  </li>
  <% end %>


</ol>
