<div class="kingdom-history page-top">
  <h2 class="history-title">The history of the Kingdom of the Hill</h2>
  <h3 class="history-subtitle">All reigns in reverse chronological order</h3>

    <div class="reigns" id="reigns">
      <div class="page">
        <%= render @reigns %>
      </div>
    </div>
  </div>
<%= paginate @reigns %>
