<div class="kingdom-history">
  <h2 class="history-title">The history of the Kingdom of the Hill</h2>

  <!-- <div class="fb-page" data-href="https://www.facebook.com/thekingdomofthehill/" data-tabs="timeline" data-width="250" data-small-header="false" data-adapt-container-width="true"
    data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/thekingdomofthehill/" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/thekingdomofthehill/">The Kingdom of the Hill</a></blockquote>
  </div> -->
  <h3 class="history-subtitle">All reigns in reverse chronological order</h3>

    <div class="reigns" id="reigns">
      <div class="page">
        <%= render @reigns %>
      </div>
    </div>
  </div>
<%= paginate @reigns %>
