/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "social-share-button";
@import "bootstrap-sprockets";
@import "bootstrap";


$darkblue: #24303C;
$deepblue: #0B1B3A;
$tonicblue: #00A7E1;
$lightgreen: #3EF6AC;
$darkgreen: #169160;
$blue: #193F87;
$palegolden: #EDDEA4;
$salmon: #F7A072;


html{
  max-width: 100%;
  overflow-x: hidden;
  }

 nav {
   position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 3;
    /*background-color: rgba(105, 105, 105, 0.12);*/
 }

  body {
    background-color: #B3F9FE;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: $darkblue;
    position: relative;
    top: 80px;
  }

  .kingdom-title {
    font-family: 'Slackey', cursive;
    color: #d28b2f;
    text-shadow: rgb(154, 153, 90) 4px 4px 7px;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    float: left;
    display: inline-block;
  }

  .hill-image {
    width: 100%;
    position: fixed;
    bottom: -25px;
    z-index: -2;
    background: $lightgreen;
    animation: myfirst 5s;
    -moz-animation:myfirst 5s infinite;
    -webkit-animation:myfirst 5s infinite;
  }

  @-moz-keyframes myfirst
  {
    0% {background-color:$lightgreen;}
    50% {background-color:$darkgreen;}
    100% {background-color:$lightgreen;}
  }

  @-webkit-keyframes myfirst {
    0% {background-color:$lightgreen;}
    50% {background-color:$darkgreen;}
    100% {background-color:$lightgreen;}
  }

  .cloud {
    position: fixed;
    z-index: -1;

  }

  .cloud-1 {
    width: 15%;
    margin-left: 10px;
    margin-top: 300px;
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
    opacity: 0.7;
  }

  .cloud-2 {
    width: 25%;
    right: 20px;
    left: 200px;
    z-index: -1;
    opacity: 0.6;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
  }

  .cloud-3 {
    top: 350px;
    right: 100px;
    width: 10%;
    z-index: -1;
  }

  .cloud-4 {
    width: 20%;
    z-index: -1;
    margin-top: 174px;
  }

  @-webkit-keyframes moveclouds {
  	0% {margin-left: 1000px;}
  	100% {margin-left: -1000px;}
  }
  @-moz-keyframes moveclouds {
  	0% {margin-left: 1000px;}
  	100% {margin-left: -1000px;}
  }
  @-o-keyframes moveclouds {
  	0% {margin-left: 1000px;}
  	100% {margin-left: -1000px;}
  }

  .current-reign-decl {
    text-align: center;
    margin-top: 35px;
  }

  .monarch-decl {
    font-size: 70px;
    margin: 0px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    color: $blue;
  }

  .top-ten-container {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 60px;
  }

  .top-ten-container:after {
  	content: "";
  	width: 100%;
  	display: inline-block;
    }

  .h3-title {
    font-size: 40px;
    margin: 0px;
    text-align: center;
  }

  .top-ten {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 500px;
    font-size: 17px;
  }

  ol {
    padding-left:0; list-style-position:inside;
  }

  .kingdom-history {
    width: 100%;
  }

  .history-title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-top : 27px;
    margin-left: 20px;
  }

  .reigns {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
  }

  .monarch-container {
    margin-top: 8px;
    width: 60%;
    margin: 0 auto;
  }


  .appellation {
    font-size: 30px;
    font-weight: 500;
  }

.table-cell {
    display: table-cell;
    text-align: center;
}

  .nav-links {
    font-size: 20px;
    display: inline-block;
    float: right;
    line-height: 55px;
    margin-right: 15px;
  }

  .link {
    display: inline-block;
  }

  .link-2 {
    margin-left: 40px;
    padding-right: 8px;

  }

  .top-subtitle {
    font-size: 25px;
    margin: 0px;
    margin-left: 7px;
    margin-bottom: 12px;
  }

  .created_at {
    visibility: hidden;
    position: fixed;
  }

  .crown {
    height: 50px;
    display: inline-block;
    position: relative;
    bottom: 22px;
  }

  .reign-number {
    margin: 8px;
    font-size: 25px;
    font-weight: 600;
    color: $blue;

  }

  .personal-message {
    margin: 0 auto;
    width: 40%;
    background-color: rgba(253, 253, 253, 0.55);
    padding-left: 50px;
    padding-right: 58px;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 24px;
    // border: 1.5px solid $darkblue;
    font-size: 20px;
    position: relative;
    text-align: justify;
    padding-bottom: 1px;
  }

  .button {
  padding: 15px 40px;
  background: $tonicblue;
  border: none;
  border-radius: 4px;
  margin: auto;
  display: block;
  height: 70px;
  width: 370px;

  color: white;

  animation: attention 8s ease infinite;
}

@keyframes attention {
  9% {
    transform: none;
  }
  12% {
    transform: scale(1.05);
  }
  16% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.03);
  }
  24% {
    transform: scale(1);
  }
}

.button-wrapper {
  margin: 0 auto;
  height: 100px;
  margin-top: 45px;
}

button a {
  text-decoration: none;
  color:white;
  font-size: 30px;
  letter-spacing: 1px;
}

.monarch-picture {
  border-radius: 50%;
}

.salutation {
  margin: 0px;
  margin-top: 13px;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 7px;
}

.highlight {
  font-weight: 400;
}

.p-stats{
  font-size: 24px;
  font-weight: 300;
  margin-top: 15px;
}

.previous-ruler {
  font-size: 18px;
  margin-top: 8px;
}

.top-monarch-picture {
  border-radius: 7%;
  width: 60px;
  vertical-align: middle;
  display: inline-block;;
}

.top-index {
  display:inline-block;
}

.rank-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}


.rank-top {
  display: inline-block;
  font-size: 20px;
}

.rank-bottom {
  font-size: 13px;
  margin-left: 30px;
}

.top-li {
  /*line-height: 40px;*/
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  /*color: white;*/
}

.replace-picture {
  display: inline;
  margin-left: 2px;
  visibility: hidden;

}

.rule-decl {
  font-weight: 300;
  margin-top: 10px;
  font-size: 35px;
}

.timer {
  font-size: 40px;
}

.compliment-or-call-to-action {
  font-size: 20px;
  font-weight: 300;
}

.reign-dates {
  font-size: 13px;
  font-weight: 400;
}

.reign-duration {
  font-size: 20px;
  font-weight: 300;
}

.sharing {
  height: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.social-share-button {
  width: 60%;
  margin: 0 auto;
  width: 400px;
}

.ssb-icon {
  width: 140px !important;
  height: 80px !important;
  background-size: 50px !important;
  background-position: 5% !important;
  border-radius: 4px;
}

.ssb-facebook {
  background-color: rgb(39, 96, 216);
  float: right;
}

.ssb-twitter {
  background-color: rgb(29, 159, 239);
  float: left;
}

.social-share-button {
  .ssb-icon {
    background-size: 50px !important;
    height: 100px;
    width: 287px;
  }
}

.link a:link {
  color: #504c4c;
  text-decoration: none;
  font-weight: 300;
}

.link a:visited {
  color: #504c4c;
}

a:hover {
  opacity: 0.3;
}

.hp-link {
  color:white;
  font-weight: 300;
}

.sharing {
  height: 200px;
  margin-bottom: 0px;
}
.h3-sharing {
  text-align: center;
  font-size: 40px;
}

.kingdom-title a:link {
  text-decoration: none;
  color: #d28b2f;
}

.kingdom-title a:visited {
  color: #d28b2f;
}

.kingdom-title a:hover {
  opacity: 0.7;
}

#reign_weapon {
  width: 100%;
  height: 34px;
  font-size: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.31);
}

.new_reign {
  margin: 0 auto;
  width: 190px;
}

.take-over {
  font-size: 16px;
  padding: 0px;
  width: 100%;
  height: 60px;
  margin-top: 16px;
  margin-bottom: 50px;
}

.line-two {
  margin-top: 0px;
  margin-bottom: 30px;
}

.line-one {
  margin-bottom: 3px;
}

.top-data {
  display: inline-block;
  width: 372px;
  font-weight: 300;
  vertical-align: middle;
}

.top-name {
  display: inline-block;
  font-weight: 400;
}

.top-info {
  float: right;
}

.user-stats {
  margin: 0 auto;
  text-align: justify;
  margin-top: 60px;
}

.user-rank {
  height: 120px;
  width: 120px;
  background-color: pink;
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  font-size: 48px;
  margin: 0 auto;
}

.user-ranking-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.top-tenz {
    display: flex;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: space-around;
    margin-top: 15px
}

.back-color1{
  background-color:#EDDEA4
}

.back-color2{
  background-color: #F7A072
}

.by-p {
  // margin-left: 12px;
  margin-top: 6px;
  font-size: 17px;
}

.stat-content {
  width: 75%;
  margin: 0 auto;
}

.history-index {
  font-size: 30px;
  padding-bottom: 40px;
}

hr {
  border: none;
  height: 1px;
  color: #333;
  background-color: #aba9a9;
  margin: 0px;
}

.top-index {
  display: inline-block;
}

.history-picture {
  border-radius: 7%;
}

.history-subtitle {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
}


.flex-box-within {
  display: flex;
  width: 62%;
}

.reign-weapon {
  font-size: 22px;
}

.kid-celebrating {
  width: 75%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reign-picture {
  display: inline-block;
  width:100px;
}

nav.pagination {
  display: none;
}

  @media only screen and (min-width: 768px){
  }


  @media(max-width:684px){
    .personal-message{
      width:90%;
      padding-left: 34px;
      padding-right: 34px;
      padding-top: 8px;
      margin-bottom: 0px;
      margin-top: 20px;
    }

    .salutation{
      font-size: 22px;
    }

    .history-picture {
      width:100px;
    }

    .link-hp {
      width:90%;
      padding: 0px;
    }

    .kingdom-title{
        font-size:20px;
    }
    .monarch-decl {
      font-size: 35px;
    }
    .rule-decl {
      font-size: 25px;
      margin-top: 0px;
    }

    .compliment-or-call-to-action{
      font-size: 18px;
    }

    .crown {
      bottom: 10px;
      width: 10%;
      height: auto;
    }

    .reign-number {
      margin: 0px;
      font-size: 17px;
    }

    .previous-ruler {
      font-size: 13px;
      margin-top: 0px;
    }

    .timer {
      font-size: 25px;
    }

    .take-over {
      margin-bottom: 28px;
    }

    .line-two {
      margin-bottom: 19px;
    }

    .user-stats{
      margin-top: 30px;
    }

    .p-stats {
      font-size: 20px;
      margin: 0 auto;
      margin-top: 10px;
      width: 85%;
    }

    .h3-title{
      margin-bottom: 0px;
      font-size: 38px;
    }

    .by-p{
      font-size: 13px;
    }

    .user-ranking-container {
      justify-content: space-between;
    }

    .top-ten-container{
      margin-top: 30px;
    }

    .top-tenz{
      margin-top: 0px;
    }

    .top-subtitle{
      font-size: 20px;
    }

    .top-monarch-picture {
      display: inline-block;
    }

    .stat-content{
      width:90%;
    }

    nav {
      height: 50px;
    }

    .nav-links {
      font-size: 14px;
      line-height: 0px;
      margin-top: 4px;
      margin-right: 0px;
    }

    .top-ten {
      width: 100%;
    }

    // .top-ten{
    //   display: auto;
    // }
    //
    // .top-data {
    //   width: auto;
    // }

    .link a:visited {
      color: $deepblue;
    }

    .link a:visited {
      color: $deepblue;
    }

    .top-data {
      width: 100%;
      font-size: 14px;
    }

    .current-reign-decl {
      margin-top: 0px;
    }

    .kingdom-history {
      width: 100%;
    }

    h2.history-title {
      margin-top: 0px
    }

    .history-title {
      font-size: 27px;
      margin-left: 0px;
    }

    .history-subtitle {
      font-size: 20px;
      font-weight: 300;
    }

    .reign-weapon {
      font-size: 13px;
    }

    .reigns {
      margin-top: 15px;
    }

    .monarch-container {
      display: inline-block;
      width: 100%
    }

    .reign-duration {
      font-size: 13px;
    }

    .appellation {
      font-size: 22px;
    }

    .history-index{
      font-size: 22px;
      padding-bottom: 0px;
    }


  }
