/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

 nav {
   position: fixed;
   top: 0;
   left: 8px;
   width: 98%;
 }

  body {
    background-color: #B3F9FE;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: rgb(33,33,33);
    position: relative;
    top: 80px;
  }

  .kingdom-title {
    font-family: 'Lemon', cursive;
    color: rgb(255, 251, 0);
    text-shadow: rgb(154, 153, 90) 4px 4px 7px;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    float: left;
    display: inline-block;
  }

  .hill-image {
    width: 100%;
    position: fixed;
    bottom: -25px;
    z-index: -2;
    background: #3EF6AC;
    animation: myfirst 5s;
    -moz-animation:myfirst 5s infinite;
    -webkit-animation:myfirst 5s infinite;
  }

  @-moz-keyframes myfirst
  {
    0% {background-color:#3EF6AC;}
    50% {background-color:#169160;}
    100% {background-color:#3EF6AC;}
  }

  @-webkit-keyframes myfirst {
    0% {background-color:#3EF6AC;}
    50% {background-color:#169160;}
    100% {background-color:#3EF6AC;}
  }

  .cloud {
    position: fixed;
    z-index: -1;

  }

  .cloud-1 {
    width: 15%;
    margin-left: 10px;
    margin-top: 300px;
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
    opacity: 0.7;
  }

  .cloud-2 {
    width: 25%;
    right: 20px;
    left: 200px;
    z-index: -1;
    opacity: 0.6;
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
  }

  .cloud-3 {
    top: 350px;
    right: 100px;
    width: 10%;
    z-index: 0;

    -webkit-animation: moveclouds 20s linear infinite;
  	-moz-animation: moveclouds 20s linear infinite;
  	-o-animation: moveclouds 20s linear infinite;
  }

  .cloud-4 {
    /*top: 350px;
    right: 100px;*/
    width: 20%;
    z-index: 0;
    margin-top: 174px;

    /*-webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;*/
  }

  @-webkit-keyframes moveclouds {
  	0% {margin-left: 1000px;}
  	100% {margin-left: -1000px;}
  }
  @-moz-keyframes moveclouds {
  	0% {margin-left: 1000px;}
  	100% {margin-left: -1000px;}
  }
  @-o-keyframes moveclouds {
  	0% {margin-left: 1000px;}
  	100% {margin-left: -1000px;}
  }

  .current-reign-decl {
    text-align: center;
    margin-top: 35px;
  }

  .monarch-decl {
    font-size: 70px;
    margin: 0px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
  }

  .top-ten-container {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }

  .top-ten-container:after {
  	content: "";
  	width: 100%;
  	display: inline-block;
    }

  .h3-top {
    font-size: 40px;
    margin: 0px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 61px;
  }

  .top-ten {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 420px;
  }

  ol {
    padding-left:0; list-style-position:inside;
  }

  .kingdom-history {
    width: 60%;
    margin: 0 auto;
  }

  .history-title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin-top : 27px;
    margin-left: 20px;
  }

  .reigns {
    margin-top: 37px;
    background-color: rgba(253, 253, 253, 0.55);
    border-radius: 25px;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .monarch-container {
    margin-bottom: 15px;
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .appellation {
    font-size: 23px;
    text-align: left;
    font-weight: 500;
  }

  span {
    display: table-cell;
    text-align: center;
  }

  .nav-links {
    font-size: 20px;
    display: inline-block;
    float: right;
    line-height: 45px;
  }

  .link {
    display: inline-block;
  }

  .link-2 {
    margin-left: 40px;
  }

  .top-subtitle {
    font-size: 27px;
  }

  .created_at {
    visibility: hidden;
    position: fixed;
  }

  .crown {
    height: 40px;
    display: inline-block;
  }

  .reign-number {
    margin: 8px;
    font-size: 25px;
    font-weight: 600;

  }

  .personal-message {
    margin: 0 auto;
    width: 60%;
    background-color: rgba(253, 253, 253, 0.55);
    padding-left: 70px;
    padding-right: 58px;
    padding-top: 41px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 24px;
    color: #585151;
    height: 413px;
  }

  button {
  padding: 15px 40px;
  background: #0099CC;
  border: none;
  border-radius: 4px;
  margin: auto;
  display: block;
  height: 70px;
  width: 370px;

  color: white;

  animation: attention 8s ease infinite;
}

@keyframes attention {
  9% {
    transform: none;
  }
  12% {
    transform: scale(1.05);
  }
  16% {
    transform: scale(0.95);
  }
  20% {
    transform: scale(1.03);
  }
  24% {
    transform: scale(1);
  }
}

.button-wrapper {
  margin: 0 auto;
  height: 130px;
  margin-top: 45px;
}

button a {
  text-decoration: none;
  color:white;
  font-size: 30px;
  letter-spacing: 1px;
}

.monarch-picture {
  border-radius: 50%;
}

.salutation {
  margin: 0px;
  margin-top: 13px;
  font-size: 27px;
  font-weight: 500;
}

.user-stats {
  margin-top: 36px;
  font-size: 23px;
  font-weight: 400;
}

.ranking {
  margin-left: 34px;
  margin-top: 6px;
}

.highlight {
  font-weight: 900;
  font-size: 23px;
}

.ranking-list {
  padding-left: 0;
}

.reign-wrap-up {
  display: inline;
}

.previous-ruler {
  font-size: 18px;
  margin-top: 8px;
}

.sparkley {
  border: none;
  padding: 16px 36px;
  font-weight: normal;
  border-radius: 3px;
  transition: all 0.25s ease;
  margin: 0 1em 1em;
}

.top-monarch-picture {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  vertical-align: middle;
  display: inline-block;;
}

.top-li {
  line-height: 40px;
  display: inline-block;
  margin-bottom: 37px;
  margin-left: 10px;
}

.replace-picture {
  display: inline;
  margin-left: 2px;
  visibility: hidden;

}

.rule-decl {
  font-weight: 300;
  margin-top: 10px;
  font-size: 35px;
}

.timer {
  font-size: 40px;
}

.compliment-or-call-to-action {
  font-size: 23px;
  font-weight: 400;
}

.history-subtitle {
  font-size: 25px;
  font-weight: 300;
  margin-left: 40px;
}

.reign-dates {
  font-size: 23px;
  font-weight: 300;
}

.reign-duration {
  font-size: 23px;
  font-weight: 400;
}

.sharing-buttons {
  height: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.social-share-button {
  width: 60%;
  margin: 0 auto;
}

.ssb-icon {
  width: 250px !important;
  height: 80px !important;
  background-size: 50px !important;
  background-position: 5% !important;
}

.ssb-facebook {
  background-color: rgb(39, 96, 216);
  float: right;
}

.ssb-twitter {
  background-color: rgb(29, 159, 239);
  float: left;
}

.social-share-button {
  .ssb-icon {
    background-size: 50px !important;
    height: 100px;
    width: 287px;
  }
}
